<html>
  <head>
    <title>Oracle Hub Feed</title>
      <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
 <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>


  </head>
  <body>
    <div class="container">
        <div class="row">
             <img src="{{ url_for('static', filename='img/oracle-logo.png') }}">
        </div>
         <br>
         <div class="row">
            <div class="col-md-5">
                <button type="button" id="train" class="btn btn-primary">Train</button>
                <button type="button" id="analyze" class="btn btn-primary">Analyze</button>
            </div>
             <div class="col-md-7">
                <div class="well">🍔</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img src="{{ url_for('video_feed') }}">
            </div>
        </div>

        <div class="row">
            <div class="col-md-9">
                  <table class="feed table table-striped">
                      <thead>
                      <th>Type</th>
                      <th>Time</th>
                      <th>Result</th>
                      </thead>
                    <tbody class="feeds">
                        <tr class="placeholder"><td colspan="3"></td></tr>
                    </tbody>
                  </table>
            </div>
            <div class="magic col-md-3"></div>
        </div>
    </div>
  </body>
</html>
